@charset "UTF-8";

body{
    background-color: rgb(250, 255, 174);
    font-family: Arial, Helvetica, sans-serif;
}
h2, h3{
    font-size: 1.0em;
    font-weight: normal;

}

.box{
    max-width: 420px;
    text-align: justify;
    padding: 20px;
    background-color: rgb(255, 194, 104);
    border-radius: 20px;
    cursor: default;
    display: block;
    margin: 50px auto;
}
@media (min-width:1100px){
    #box1, #box3{
        display: inline-block;
        margin-left: 4%;
        
    }
    #box2, #box4{
        display: inline-block;
        margin-left: 4%;
    }
}
@media (min-width: 1250px){
    #box5{
        display: inline-block;
        margin-left: 14%;
        
    }
    #box2, #box4{
        display: inline-block;
        margin-left: 14%;
    }
}
@media (min-width: 1550px){
    #box5{
        display: inline-block;
        margin-left: 34%;
        
    }
    #box2, #box4{
        display: inline-block;
        margin-left: 34%;
    }
}

@media (max-width: 506px){
    .box{
        margin: 50px 30px;
    }
}

