@charset "UTF-8";

body{
    background-color: rgb(250, 255, 174);
    font-family: Arial, Helvetica, sans-serif;
}
h2, h3{
    font-size: 1.0em;
    font-weight: normal;

}

.box{
    max-width: 420px;
    padding: 20px;
    background-color: rgb(255, 194, 104);
    border-radius: 20px;
    cursor: default;
    margin: 50px;
    min-width: 200px;
    

}
#content{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 8px;
}

@media (min-width: 1100px){

    .box{
        display: inline-block;
    }
}
